/target/
/.nrepl-port
/.calva/
/.clj-kondo/
/.lsp/
/.shadow-cljs/
/node_modules/
/package-lock.json
/frontend/resources/public/js
/frontend/resources/public/vendor
/results/
/.portal/
/data/
/frontend/.shadow-cljs/
/frontend/node_modules/
/frontend/package-lock.json
/frontend/dist/
/frontend/js/
/resources/public/
/.lein-repl-history
/frontend/public/js/main.js
/target.bak/
/resources/backend/public/
/build/
/resources/frontend/public/js/main.js
