/target/
/.nrepl-port
/dev-config.edn
/.calva/
/.clj-kondo/
/.lsp/
/.shadow-cljs/
/node_modules/
/package-lock.json
/frontend/resources/public/js
/frontend/resources/public/vendor
/results/
/.portal/
/data/
/frontend/.shadow-cljs/
/frontend/node_modules/
/frontend/package-lock.json
/frontend/dist/
/frontend/public/
