/.calva/
/.clj-kondo/
/.lein-repl-history
/.lsp/
/.nrepl-port
/.portal/
/.shadow-cljs/
/bakbak/
/build/
/data/
/frontend/.shadow-cljs/
/frontend/dist/
/frontend/js/
/frontend/node_modules/
/frontend/package-lock.json
/frontend/public/js/main.js
/frontend/resources/public/js
/frontend/resources/public/vendor
/node_modules/
/package-lock.json
/resources/backend/public/
/resources/frontend/js/cljs-runtime/
/resources/frontend/js/main.js
/resources/frontend/js/manifest.edn
/resources/frontend/public/js/cljs-runtime/
/resources/frontend/public/js/main.js
/results/
/target.bak/
/target/
/resources/public/js/cljs-runtime