{:uniprot/blast    {:use-blast?                       true
                    :database                         :uniprot-bacteria
                    :filter-blast-result-by-taxonomy? false}
 :uniprot/uniref   {:use-uniref?                  true
                    ;; TODO: gucken dass das mit Kapitalisierungsfehlern umgehen kann
                    :cluster-types                ["UniRef50" "UniRef90"]
                    :filter-clusters-by-taxonomy? false}
 :uniprot/taxonomy {:top-level-taxon                             "species"
                    ;; You can also use a taxon name like this:
                    ;; :top-level-taxon       "Pseudomonas aeruginosa group"
                    ;; Note: when using a taxon name, it needs to be an exact(!)
                    ;; match to what is in the field "Scientific name" on Uniprot
                    ;;
                    ;; You can also use a taxon ID like this:
                    ;; :top-level-taxon       652611
                    ;; :top-level-taxon       "652611"
                    :use-taxonomic-search?                       true
                    :dont-warn-against-broad-taxonomic-category? false}
 :uniprot/protein  {:protein-ids         ["P02919"
                                          "A0A0H2ZHP9"]
                    :gene-names          ["mrcB"]
                    :restriction-domains ["transpeptidase"
                                          {"A0A0H2ZHP9" "transglycosylase"}]}}
