[{:antibiotic-for-selection "none",
  :brochado-id              "AB10001",
  :bsl                      "S1",
  :color                    "White",
  :genotype                 "Δ(araD-araB)567, ΔlacZ4787(::rrnB-3), λ-, rph-1, Δ(rhaD-rhaB)568, hsdR514",
  :kegg-id                  "eco"
  :ncbi-taxonomy-id         "679895",
  :notes                    "lab strain K-12 derivative. Keio parent",
  :origin                   "Typas",
  :owner                    "Ana",
  :reference                "(Baba et al., 2006)",
  :species                  "E. coli",
  :strain                   "BW25113"}
 {:antibiotic-for-selection "none",
  :brochado-id              "AB10003",
  :bsl                      "S1",
  :color                    "White",
  :genotype                 nil,
  :kegg-id                  "ecr"
  :ncbi-taxonomy-id         "585034",
  :notes                    "commensal",
  :origin                   "Typas",
  :owner                    "Ana",
  :reference                "(Genoscope, 2008)",
  :species                  "E. coli",
  :strain                   "iAi1"}
 {:antibiotic-for-selection "none",
  :brochado-id              "AB10010",
  :bsl                      "S2",
  :color                    "White",
  :genotype                 nil,
  :kegg-id                  "pae"
  :ncbi-taxonomy-id         "208964"
  :notes                    "domesticated clinical isolate",
  :origin                   "Typas",
  :owner                    "Ana",
  :reference                "(Lee, 2006)",
  :species                  "P. aeruginosa",
  :strain                   "PAO1"}
 {:antibiotic-for-selection "none",
  :brochado-id              "AB10011",
  :bsl                      "S2",
  :color                    "White",
  :genotype                 nil,
  :kegg-id                  "pau"
  :ncbi-taxonomy-id         "208963"
  :notes                    "domesticated clinical isolate",
  :origin                   "Typas",
  :owner                    "Ana",
  :reference                "(Stover, 2000)",
  :species                  "P. aeruginosa",
  :strain                   "PA14"}
 {:antibiotic-for-selection "none",
  :brochado-id              "AB10012",
  :bsl                      "S2",
  :color                    "White",
  :genotype                 nil,
  :kegg-id                  "stm"
  :ncbi-taxonomy-id         "99287"
  :notes                    "lab strain",
  :origin                   "Typas",
  :owner                    "Ana",
  :reference                "(Jarvik,T, 2010)",
  :species                  "S. Typhimurium",
  :strain                   "LT2"}
 {:antibiotic-for-selection "none",
  :brochado-id              "AB10013",
  :bsl                      "S2",
  :color                    "White",
  :genotype                 nil,
  :kegg-id                  "seo"
  :ncbi-taxonomy-id         "588858"
  :notes                    "infection model strain",
  :origin                   "Typas",
  :owner                    "Ana",
  :reference                "(McClelland,M, 2001)",
  :species                  "S. Typhimurium",
  :strain                   "14028S"}
 {:antibiotic-for-selection "none",
  :brochado-id              "AB10022",
  :bsl                      "S2",
  :color                    "White",
  :genotype                 nil,
  :notes                    "lab strain",
  :origin                   "Manuel Banzhaf",
  :owner                    "Ana",
  :reference                nil,
  :species                  "Acinetobacter baumannii",
  :strain                   "AB5073"}
 {:antibiotic-for-selection "none",
  :brochado-id              "AB10023",
  :bsl                      "S2",
  :color                    "White",
  :genotype                 nil,
  :notes                    "lab strain",
  :origin                   "Manuel Banzhaf",
  :owner                    "Ana",
  :reference                nil,
  :species                  "Klebsiella pneumonia",
  :strain                   "MKP103"}
 {:antibiotic-for-selection "none",
  :brochado-id              "AB10024",
  :bsl                      "S2",
  :color                    "White",
  :genotype                 nil,
  :notes                    "lab strain",
  :origin                   "Manuel Banzhaf",
  :owner                    "Ana",
  :reference                nil,
  :species                  "Burkholderia pseudomallei",
  :strain                   "E264"}]
