[{:color "White",
  :species "E. coli",
  :brochado-id "AB10001",
  :reference "(Baba et al., 2006)",
  :antibiotic-for-selection "none",
  :notes "lab strain K-12 derivative. Keio parent",
  :strain "BW25113",
  :origin "Typas",
  :bsl "S1",
  :owner "Ana",
  :genotype
  "Δ(araD-araB)567, ΔlacZ4787(::rrnB-3), λ-, rph-1, Δ(rhaD-rhaB)568, hsdR514"}
 {:color "White",
  :species "E. coli",
  :brochado-id "AB10003",
  :reference "(Genoscope, 2008)",
  :antibiotic-for-selection "none",
  :notes "commensal",
  :strain "iAi1",
  :origin "Typas",
  :bsl "S1",
  :owner "Ana",
  :genotype nil}
 {:color "White",
  :species "P. aeruginosa",
  :brochado-id "AB10010",
  :reference "(Lee, 2006)",
  :antibiotic-for-selection "none",
  :notes "domesticated clinical isolate",
  :strain "PAO1",
  :origin "Typas",
  :bsl "S2",
  :owner "Ana",
  :genotype nil}
 {:color "White",
  :species "P. aeruginosa",
  :brochado-id "AB10011",
  :reference "(Stover, 2000)",
  :antibiotic-for-selection "none",
  :notes "domesticated clinical isolate",
  :strain "PA14",
  :origin "Typas",
  :bsl "S2",
  :owner "Ana",
  :genotype nil}
 {:color "White",
  :species "S. Typhimurium",
  :brochado-id "AB10012",
  :reference "(Jarvik,T, 2010)",
  :antibiotic-for-selection "none",
  :notes "lab strain",
  :strain "LT2",
  :origin "Typas",
  :bsl "S2",
  :owner "Ana",
  :genotype nil}
 {:color "White",
  :species "S. Typhimurium",
  :brochado-id "AB10013",
  :reference "(McClelland,M, 2001)",
  :antibiotic-for-selection "none",
  :notes "infection model strain",
  :strain "14028S",
  :origin "Typas",
  :bsl "S2",
  :owner "Ana",
  :genotype nil}
 {:color "White",
  :species "Acinetobacter baumannii",
  :brochado-id "AB10022",
  :reference nil,
  :antibiotic-for-selection "none",
  :notes "lab strain",
  :strain "AB5073",
  :origin "Manuel Banzhaf",
  :bsl "S2",
  :owner "Ana",
  :genotype nil}
 {:color "White",
  :species "Klebsiella pneumonia",
  :brochado-id "AB10023",
  :reference nil,
  :antibiotic-for-selection "none",
  :notes "lab strain",
  :strain "MKP103",
  :origin "Manuel Banzhaf",
  :bsl "S2",
  :owner "Ana",
  :genotype nil}
 {:color "White",
  :species "Burkholderia pseudomallei",
  :brochado-id "AB10024",
  :reference nil,
  :antibiotic-for-selection "none",
  :notes "lab strain",
  :strain "E264",
  :origin "Manuel Banzhaf",
  :bsl "S2",
  :owner "Ana",
  :genotype nil}]
