openapi: 3.1.0
info:
  title: KEGG API
  description: KEGG API is a REST-style Application Programming Interface to the KEGG database resource.
  version: 1.0.0
servers:
  - url: https://rest.kegg.jp
paths:
  /info/{database}:
    get:
      summary: display database release information and linked db information
      description: This operation displays the database release information with statistics for the databases shown in Table 1. Except for kegg, genes and ligand, this operation also displays the list of linked databases that can be used in the link operation.
      parameters:
        - name: database
          in: path
          required: true
          schema:
            oneOf:
              - $ref: "#/components/schemas/KEGGOrganismCode"
              - $ref: "#/components/schemas/KEGGDatabase"
          examples:
            pathway:
              value: pathway
            ko:
              value: ko
            eco:
              value: eco
            pau:
              value: pau
      responses:
        '200': 
          description: Success
          content:
            text/plain:
              schema:
                type: string 
  /list/{databaseOrDatabaseEntries}:
    get:
      summary: obtain a list of entry identifiers and associated names
      description: |
        This operation can be used to obtain a list of all entries in each database. The database names shown in Tables 1 and 2, excluding the composite database names of genes, ligand and kegg, may be given. The special database name "organism" is allowed only in this operation, which may be used to obtain a list of KEGG organisms with the three- or four-letter organism codes.
    
        The second form may be used to obtain a list of definitions for a given set of database entry identifiers. The maximum number of identifiers that can be given is 10. 
      parameters:
        - name: databaseOrDatabaseEntries
          in: path
          required: true
          schema:
            oneOf:
              - $ref: "#/components/schemas/KEGGListableDatabase"
              - $ref: "#/components/schemas/KEGGDatabaseEntries"
          examples:
            pathway:
              value: pathway
            organism:
              value: organism
            listOfGenes:
              value: "hsa:10458+ece:Z5100"
            differentDbEntries:
              value: "C01290+G00092"
      responses:
        '200': 
          description: Success
          content:
            text/plain:
              schema:
                type: string              
  /list/pathway/{organism}:
    get:
      summary: obtain a list of organism-specific pathways
      parameters:
        - name: organism
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/KEGGOrganismCode"
          examples:
            hsa:
              value: hsa
            pau:
              value: pau            
      responses:
        '200': 
          description: Success
          content:
            text/plain:
              schema:
                type: string           
  /list/brite/br/{organism}:
    get:
      summary: obtain a list of organism-specific brites
      parameters:
        - name: organism
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/KEGGOrganismCode"
          examples:
            hsa:
              value: hsa
            pau:
              value: pau            
      responses:
        '200': 
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /list/brite/ko/{organism}:
    get:
      summary: obtain a list of organism-specific brites
      parameters:
        - name: organism
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/KEGGOrganismCode"
          examples:
            hsa:
              value: hsa
            pau:
              value: pau            
      responses:
        '200': 
          description: Success
          content:
            text/plain:
              schema:
                type: string
  /find/{database}/{query}:
    get:
      summary:
      parameters:
        - name: database
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/KEGGSearchableDatabase"
        - name: query
          in: path
          required: true
          schema:
            type: string
  /get/{dbentries}/{options}:
    get:
      summary:
      parameters:
        - name: dbentries
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/KEGGDatabaseEntries"
        - name: options
          in: path
          schema:
            type: string
components:
  schemas:
    KEGGBriteOption:
      type: string
      enum:
        - br
        - jp
        - ko
    KEGGOrganismCode:
      type: string
    KEGGDatabaseEntries:
      type: string
      pattern: '^[^\+]+(\+[^\+]+)*$'
    KEGGSearchableDatabase:
      type: string
      enum:
        - ag 
        - brite 
        - compound 
        - dgroup        
        - disease 
        - drug 
        - enzyme 
        - genes 
        - genome 
        - glycan 
        - ko 
        - ligand 
        - module 
        - network 
        - pathway 
        - rclass 
        - reaction 
        - variant 
        - vg 
        - vp      
    KEGGListableDatabase:
      type: string
      enum:
        - organism
        - pathway 
        - brite 
        - module 
        - ko 
        - vg 
        - vp 
        - ag 
        - genome 
        - compound 
        - glycan 
        - reaction 
        - rclass 
        - enzyme 
        - network 
        - variant 
        - disease 
        - drug 
        - dgroup      
    KEGGDatabase:
      type: string
      enum:
        - kegg 
        - pathway 
        - brite 
        - module 
        - ko 
        - genes 
        - vg 
        - vp 
        - ag 
        - genome 
        - ligand 
        - compound 
        - glycan 
        - reaction 
        - rclass 
        - enzyme 
        - network 
        - variant 
        - disease 
        - drug 
        - dgroup
