openapi: 3.1.0
info:
  title: STRING API - Mapping Identifiers
  description: Resolve protein identifiers to STRING identifiers for faster processing and accuracy.
  version: 1.0.0
servers:
  - url: https://string-db.org
paths:
  /api/{output-format}/get_string_ids:
    get:
      summary: Map protein identifiers to STRING identifiers.
      description: Maps gene names, synonyms, or UniProt IDs to STRING database identifiers for faster interaction queries.
      parameters:
        - name: output-format
          in: path
          required: true
          description: The output format for the response.
          schema:
            type: string
            enum: [tsv, tsv-no-header, json, xml]
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers to map, separated by '%0d'.
          schema:
            type: string
          example: p53%0dBRCA1%0dcdk2
        - name: species
          in: query
          required: false
          description: NCBI taxonomy ID for the species.
          schema:
            type: integer
          example: 9606
        - name: limit
          in: query
          required: false
          description: Limit the number of matches per identifier (default is 1).
          schema:
            type: integer
          example: 1
        - name: echo_query
          in: query
          required: false
          description: Whether to include your input identifier in the output.
          schema:
            type: integer
            enum: [0, 1]
          example: 1
        - name: caller_identity
          in: query
          required: false
          description: Your app or tool's identity.
          schema:
            type: string
          example: www.awesome_app.org
      responses:
        '200':
          description: Successful mapping of identifiers.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    queryItem:
                      type: string
                      description: Input protein identifier.
                      example: p53
                    queryIndex:
                      type: integer
                      description: Position of the protein in the input.
                      example: 0
                    stringId:
                      type: string
                      description: Mapped STRING identifier.
                      example: 9606.ENSP00000269305
                    ncbiTaxonId:
                      type: integer
                      description: NCBI taxon ID.
                      example: 9606
                    taxonName:
                      type: string
                      description: Species name.
                      example: Homo sapiens
                    preferredName:
                      type: string
                      description: Common protein name.
                      example: TP53
                    annotation:
                      type: string
                      description: Protein annotation.
                      example: Cellular tumor antigen p53
    post:
      summary: Map external gene or protein identifiers to STRING IDs.
      description: Map various identifiers (e.g., UniProt, common gene names) to STRING identifiers.
      parameters:
        - name: output-format
          in: path
          required: true
          description: The format for the response.
          schema:
            type: string
            enum: [tsv, tsv-no-header, json, xml]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                identifiers:
                  type: string
                  description: Protein identifiers (e.g. DRD1_HUMAN, DRD2_HUMAN).
                  example: "p53%0dBRCA1"
                species:
                  type: integer
                  description: NCBI taxonomy ID for the species.
                  example: 9606
                limit:
                  type: integer
                  description: Limit the number of matches per identifier.
                  example: 1
                echo_query:
                  type: integer
                  description: Echo the input identifiers in the output (0 or 1).
                  example: 1
                caller_identity:
                  type: string
                  description: Identifier for the caller.
                  example: "www.awesome_app.org"
      responses:
        '200':
          description: Successful identifier mapping.
          content:
            application/json: {}
        '400':
          description: Invalid request.
  /api/{output-format}/network:
    get:
      summary: Retrieve a STRING network image.
      description: Get a visual network of interactions surrounding one or more proteins.
      parameters:
        - name: output-format
          in: path
          required: true
          description: Output format for the network image.
          schema:
            type: string
            enum: [image, highres_image, svg]
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers (e.g. DRD1_HUMAN%0dDRD2_HUMAN).
          schema:
            type: string
          example: nup100
        - name: species
          in: query
          required: false
          description: NCBI taxonomy ID for the species.
          schema:
            type: integer
        - name: add_color_nodes
          in: query
          required: false
          description: Adds color nodes based on scores.
          schema:
            type: integer
          example: 10
        - name: add_white_nodes
          in: query
          required: false
          description: Adds white nodes based on scores (default is 10 when only one protein is provided).
          schema:
            type: integer
          example: 15
        - name: required_score
          in: query
          required: false
          description: Threshold of significance for interaction (0-1000).
          schema:
            type: integer
          example: 400
        - name: network_type
          in: query
          required: false
          description: Network type (functional or physical).
          schema:
            type: string
          example: physical
        - name: network_flavor
          in: query
          required: false
          description: Style of network edges (evidence, confidence, or actions).
          schema:
            type: string
          example: confidence
        - name: hide_node_labels
          in: query
          required: false
          description: Hides all protein names from the image (0 or 1).
          schema:
            type: integer
          example: 0
        - name: caller_identity
          in: query
          required: false
          description: Identifier for the caller.
          schema:
            type: string
          example: www.awesome_app.org
      responses:
        '200':
          description: Successful image retrieval.
          content:
            image/png: {}
            image/svg+xml: {}
        '400':
          description: Invalid request.
    post:
      summary: Retrieve a STRING network image.
      description: Get a visual network of interactions for one or more proteins.
      parameters:
        - name: output-format
          in: path
          required: true
          description: Output format for the network image.
          schema:
            type: string
            enum: [image, highres_image, svg]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                identifiers:
                  type: string
                  description: Protein identifiers (e.g. DRD1_HUMAN, DRD2_HUMAN).
                  example: "nup100"
                species:
                  type: integer
                  description: NCBI taxonomy ID for the species.
                  example: 4932
                add_color_nodes:
                  type: integer
                  description: Adds color nodes to the input proteins.
                  example: 10
                add_white_nodes:
                  type: integer
                  description: Adds white nodes to the input proteins.
                  example: 15
                required_score:
                  type: integer
                  description: Threshold for interaction significance (0-1000).
                  example: 400
                network_flavor:
                  type: string
                  description: Style of the network edges.
                  example: confidence
                network_type:
                  type: string
                  description: Network type (functional or physical).
                  example: physical
                caller_identity:
                  type: string
                  description: Identifier for the caller.
                  example: "www.awesome_app.org"
      responses:
        '200':
          description: Successful network image retrieval.
          content:
            image/png: {}
            image/svg+xml: {}
        '400':
          description: Invalid request.

  /api/{output-format}/get_link:
    get:
      summary: Retrieve a link to the STRING network on the webpage.
      description: Get a stable link for a network of interactions involving one or more proteins on the STRING webpage.
      parameters:
        - name: output-format
          in: path
          required: true
          description: The output format for the response.
          schema:
            type: string
            enum: [tsv, tsv-no-header, json, xml]
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers, e.g., DRD1_HUMAN%0dDRD2_HUMAN.
          schema:
            type: string
          example: SMO
        - name: species
          in: query
          required: false
          description: NCBI taxonomy ID for the species.
          schema:
            type: integer
          example: 7227
        - name: add_color_nodes
          in: query
          required: false
          description: Adds color nodes to the input proteins based on scores.
          schema:
            type: integer
          example: 10
        - name: add_white_nodes
          in: query
          required: false
          description: Adds white nodes to the input proteins.
          schema:
            type: integer
          example: 10
        - name: required_score
          in: query
          required: false
          description: Threshold of significance to include an interaction (0 to 1000).
          schema:
            type: integer
          example: 400
        - name: network_flavor
          in: query
          required: false
          description: Style of the edges in the network (evidence, confidence, actions).
          schema:
            type: string
          example: evidence
        - name: network_type
          in: query
          required: false
          description: Type of network (functional or physical).
          schema:
            type: string
          example: functional
        - name: caller_identity
          in: query
          required: false
          description: Identifier for the caller.
          schema:
            type: string
          example: www.awesome_app.org
      responses:
        '200':
          description: Successful retrieval of a stable link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Stable link to the STRING network.
                    example: "https://string-db.org/version/12-0/get_link?identifiers=SMO&species=7227"
        '400':
          description: Invalid request.
    post:
      summary: Retrieve a link to the STRING network on the webpage.
      description: Get a stable link for visualizing a network of interactions involving one or more proteins.
      parameters:
        - name: output-format
          in: path
          required: true
          description: The format for the response.
          schema:
            type: string
            enum: [tsv, tsv-no-header, json, xml]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                identifiers:
                  type: string
                  description: Protein identifiers (e.g., DRD1_HUMAN, DRD2_HUMAN).
                  example: "SMO"
                species:
                  type: integer
                  description: NCBI taxonomy ID for the species.
                  example: 7227
                add_color_nodes:
                  type: integer
                  description: Adds color nodes to the input proteins based on scores.
                  example: 10
                add_white_nodes:
                  type: integer
                  description: Adds white nodes to the input proteins.
                  example: 10
                required_score:
                  type: integer
                  description: Threshold of significance to include an interaction (0-1000).
                  example: 400
                network_flavor:
                  type: string
                  description: Style of the network edges (evidence, confidence, actions).
                  example: evidence
                network_type:
                  type: string
                  description: Type of network (functional, physical).
                  example: functional
                caller_identity:
                  type: string
                  description: Identifier for the caller.
                  example: "www.awesome_app.org"
      responses:
        '200':
          description: Successful retrieval of a stable link.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Stable link to the STRING network.
                    example: "https://string-db.org/version/12-0/get_link?identifiers=SMO&species=7227"
        '400':
          description: Invalid request.
          
  /cgi/network:
    get:
      summary: Generate a link to STRING's search results page.
      parameters:
        - name: identifiers
          in: query
          required: true
          description: Protein identifiers (e.g., DRD1_HUMAN, DRD2_HUMAN).
          schema:
            type: string
            example: P53_HUMAN%0dMDM2_HUMAN
        - name: species
          in: query
          description: NCBI taxonomy ID (e.g., Human is 9606).
          schema:
            type: integer
            example: 9606
        - name: add_color_nodes
          in: query
          description: Adds color nodes to the input proteins based on scores.
          schema:
            type: integer
            example: 10
        - name: add_white_nodes
          in: query
          description: Adds white nodes to the input proteins.
          schema:
            type: integer
            example: 10
        - name: required_score
          in: query
          description: Threshold of significance (0-1000).
          schema:
            type: integer
            example: 400
        - name: network_flavor
          in: query
          description: Network style (evidence, confidence, actions).
          schema:
            type: string
            example: confidence
        - name: network_type
          in: query
          description: Network type (functional, physical).
          schema:
            type: string
            example: functional
        - name: hide_node_labels
          in: query
          description: Hide protein labels (0 or 1).
          schema:
            type: integer
            example: 0
        - name: hide_disconnected_nodes
          in: query
          description: Hide disconnected proteins (0 or 1).
          schema:
            type: integer
            example: 0
        - name: show_query_node_labels
          in: query
          description: Use submitted names as protein labels (0 or 1).
          schema:
            type: integer
            example: 1
        - name: block_structure_pics_in_bubbles
          in: query
          description: Disable structure pictures in the bubble (0 or 1).
          schema:
            type: integer
            example: 0
        - name: caller_identity
          in: query
          description: Caller identifier.
          schema:
            type: string
            example: "www.awesome_app.org"
      responses:
        '200':
          description: URL to the STRING network search results page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Link to STRING search results.
                    example: "https://string-db.org/cgi/network?identifiers=P53_HUMAN%0dMDM2_HUMAN&species=9606"
    post:
      summary: Generate a link to STRING's search results page using POST method.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                identifiers:
                  type: string
                  description: Protein identifiers (e.g., DRD1_HUMAN, DRD2_HUMAN).
                  example: P53_HUMAN%0dMDM2_HUMAN
                species:
                  type: integer
                  description: NCBI taxonomy ID (e.g., Human is 9606).
                  example: 9606
                add_color_nodes:
                  type: integer
                  description: Adds color nodes to the input proteins based on scores.
                  example: 10
                add_white_nodes:
                  type: integer
                  description: Adds white nodes to the input proteins.
                  example: 10
                required_score:
                  type: integer
                  description: Threshold of significance (0-1000).
                  example: 400
                network_flavor:
                  type: string
                  description: Network style (evidence, confidence, actions).
                  example: confidence
                network_type:
                  type: string
                  description: Network type (functional, physical).
                  example: functional
                hide_node_labels:
                  type: integer
                  description: Hide protein labels (0 or 1).
                  example: 0
                hide_disconnected_nodes:
                  type: integer
                  description: Hide disconnected proteins (0 or 1).
                  example: 0
                show_query_node_labels:
                  type: integer
                  description: Use submitted names as protein labels (0 or 1).
                  example: 1
                block_structure_pics_in_bubbles:
                  type: integer
                  description: Disable structure pictures in the bubble (0 or 1).
                  example: 0
                caller_identity:
                  type: string
                  description: Caller identifier.
                  example: "www.awesome_app.org"
      responses:
        '200':
          description: URL to the STRING network search results page.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Link to STRING search results.
                    example: "https://string-db.org/cgi/network?identifiers=P53_HUMAN%0dMDM2_HUMAN&species=9606"
